.admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f6f8;
  padding: 20px;
}

.admin-title {
  font-size: 36px;
  margin-bottom: 150px;
  color: #333;
  font-weight: bold;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 250px;
}

.admin-btn {
  padding: 15px;
  font-size: 18px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.admin-btn:hover {
  background-color: #125ca1;
}
.admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('./image/vot1.jpg'); /* Replace with your actual image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
}
